<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Account</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
      .navbar {
          margin-bottom: 50px;
          border-radius: 0;
          padding-left: 8cm;
          padding-right: 8cm;
      }

      /* Set black background color, white text and some padding */
      footer {
          background-color: #f2f2f2;
          padding: 25px;
      }
  </style>
    </head>
    <body>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">III</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/games">Games</a></li>
                        <li><a href="/deals">Deals</a></li>
                        <li><a href="/stores">Stores</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/account"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container text-center">
            <div class="row">
                <div class="col-sm-3 well">
                    <div class="well">
                        <img src="http://www.sessionlogs.com/media/icons/defaultIcon.png" class="img-circle" height="65" width="65" alt="Avatar">
                        <p><a href="#">Settings</a></p>
                    </div>
                    <div class="well">
                        <p><a href="#">Interests</a></p>
                        <p>
                            <span class="label label-default">FPS</span>
                            <span class="label label-primary">RPG</span>
                            <span class="label label-success">Casual</span>
                            <span class="label label-info">Simulator</span>
                            <span class="label label-warning">Indie</span>
                            <span class="label label-danger">RTS</span>
                        </p>
                    </div>
                    <div class="alert alert-success fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                        <a href="/deals"><p><strong>Ey!</strong></p>
                        You have new games on offer! Click to find out...</a>
                    </div>
                    <p><a href="#">Link</a></p>
                    <p><a href="#">Link</a></p>
                    <p><a href="#">Link</a></p>
                </div>
                <div class="col-sm-7">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default text-left">
                                <div class="panel-body">
                                    <p style="float: left;">Status: </p>
                                    <p style="color: green; float: inherit" contenteditable="true"> Active</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="well">
                                <p><strong>50 Points!</strong></p>
                                <img src="http://www.iconshock.com/img_vista/FLAT/business/jpg/trophy_icon.jpg" class="img-circle" height="55" width="55" alt="Avatar">
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="well">
                                <p style="float: left">Purchased <strong>Call of Duty: Infinite Warfare</strong>!</p>
                                <p style="float: right">31/08/17</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="well">
                                <p><strong>50 Points!</strong></p>
                                <img src="http://www.iconshock.com/img_vista/FLAT/business/jpg/trophy_icon.jpg" class="img-circle" height="55" width="55" alt="Avatar">
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="well">
                                <p style="float: left">Purchased <strong>Mass Effect: Andromeda</strong>!</p>
                                <p style="float: right">31/08/17</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="well">
                                <p><strong>25 Points!</strong></p>
                                <img src="http://www.iconshock.com/img_vista/FLAT/business/jpg/trophy_icon.jpg" class="img-circle" height="55" width="55" alt="Avatar">
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="well">
                                <p style="float: left">Confirmed email address!</p>
                                <p style="float: right">31/08/17</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="well">
                                <p><strong>50 Points!</strong></p>
                                <img src="http://www.iconshock.com/img_vista/FLAT/business/jpg/trophy_icon.jpg" class="img-circle" height="55" width="55" alt="Avatar">
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="well">
                                <p style="float: left">Registered an account!</p>
                                <p style="float: right">31/08/17</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 well">
                    <div class="thumbnail">
                        <p>Upcoming Events:</p>
                        <img src="paris.jpg" alt="Paris" width="400" height="300">
                        <p><strong>Paris</strong></p>
                        <p>Fri. 27 November 2015</p>
                        <button class="btn btn-primary">Info</button>
                    </div>
                    <div class="well">
                        <p>ADS</p>
                    </div>
                    <div class="well">
                        <p>ADS</p>
                    </div>
                </div>
            </div>
        </div>

        <footer class="container-fluid text-center">
            <p>Online Store Copyright</p>
            <form class="form-inline">Get deals:
                <input type="email" class="form-control" size="50" placeholder="Email Address">
                <button type="button" class="btn btn-danger">Sign Up</button>
            </form>
        </footer>

    </body>
</html>